<div class="row estiloPie">
    <div class="col-xs-12 col-md-6 ml-2 text-left mt-3">
        <h6 class="text-muted lead">CONTACTO:</h6>
        <h6 class="text-muted">
        Edificio Equipos II<br>
        Caracas - Venezuela.<br>
        Teléfonos: 0426-6125264 / 0212-5006919.<br>
        </h6>
    </div>

    <div class="col-xs-12 col-md-6 text-right">
        <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
        <div class="redes-footer">
          <a href="https://www.facebook.com/"><img src="imagenes/facebook-2.png"></a>
          <a href="https://twitter.com/"><img src="imagenes/twitter-2.png"></a>
          <a href="https://www.youtube.com/"><img src="imagenes/youtube-2.png"></a>
        </div>
    </div>
</div>

<div class="row estiloPie1">
    <div class="col-md-12 text-right">
        <p class="text-muted small">Yesid Davila. WebMaster @2018.<br>
           Todos los derechos reservados.</p>
    </div>
</div>
