

<div class="row" >
  
    <img class="crop mb-3" 
    src="./../../assets/fabian.JPG" 
    alt="A generic square placeholder image with rounded corners in a figure." />
</div>

<div class="row mb-2 " >
  <div class="col" >
      Nombre:<br/>
      Yesid Davila.
  </div>
</div>

<div class="row mb-2">
  <div class="col">
        Usuario:<br/>
        elmondoles
  </div>
</div>

<div class="row mb-2">
  <div class="col" >
    Cargo:<br/>
    Consultor 1.
  </div>
</div>

<div class="row mb-2">
  <div class="col" >
      Correo:<br/>
      ydavil02@cantv.com.ve
  </div>
</div>

