

<div class="row estilo" >
  <div class="col" >
    <!-- <img src="./../../../assets/imagen 1.jpg" class="img-rounded mt-5 mb-5"  /> -->
    <img src="./../../../assets/users.png" class="img-rounded mt-5 mb-5" /> 
  </div>

  <div class="col">
    <p>
      En esta seccion, se pueden hacer todas las tareas de mantenimineto de los usuarios
      del sistema. Tales como visualizar el listado de los usuarios, eliminar, modificar y 
      agregar nuevos usuarios.

    </p>
  </div>
</div>

<!-- Se anexa el pie de pagina -->
<app-footer></app-footer>

