

<div class="row" >
  <div class="col " style="background-color: rgb(255, 255, 255) " >
    <!-- <img src="./../../../assets/imagen 1.jpg" class="img-rounded mt-5 mb-5"  /> -->
    <img src="./../../../assets/imagen 2.jpg" class="img-rounded mt-5 mb-5" /> 
  </div>

  <div class="col-sm-4 " style="background-color: rgb(255, 255, 255) " >
    <p>
      En esta seccion, se pueden hacer todas las tareas de mantenimineto de los usuarios
      del sistema. Tales como visualizar el listado de los usuarios, eliminar, modificar y 
      agregar nuevos usuarios.

    </p>
  </div>
</div>

