.estilo{
    /*background-color: rgba(40, 130, 255, .1); */
    background-color: rgba(128, 0, 128, 0.880); 
    color: rgb(250, 250, 250);
}

.anchoMenu{
    width: 100%
}

ul.menu{
    clear: both;
    float: left;
    width: 100%;
    list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    /* padding: .3em; */
    display: block;
    text-decoration: none;
    color: #333;
    background: #F4F4F4;
    border-top: 0px solid #7C7C7C;
    border-right: 0px solid #7C7C7C;
    border-bottom: 0px solid #9C9C9C;
}