<div class="row" >
  <div class="anchoMenu" > <!-- style="width: 100%" -->
    <!-- Menu, disponible para este componente -->
    <app-menu></app-menu>
  </div>
</div>

<!-- <div class="container" > -->
  <!-- <hr/> -->

  <div class="row estilo" >
    <div class="col"  >
      <h2 class="ml-4"  >Mantenimiento de Usuarios</h2>
    </div>
  </div>

  <div class="row">

      <!-- Este es el menu de la seccion usuarios -->
      <div class="col-2" style="background-color: rgba(40, 130, 255, .5)" >
        <ul class="nav flex-column ml-1"  >

          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link btn-info   mb-1 mt-3" 
              [routerLink]="[ '/usuario/dashboard' ]">Inicio</a>
          </li>

          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link btn-info   mb-1" 
              [routerLink]="[ '/usuario/listadou' ]">Listado</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link btn-info mb-1" 
              [routerLink]="[ '/usuario/crear' ]" >Crear Usuario</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link btn-info mb-1" 
              [routerLink]="[ '/usuario/perfil' ]" >Perfil de usuario</a>
          </li>

        </ul>
      </div>

      <div class="col" >
        <!-- Navegacion dentro del div de usuario -->
        <router-outlet></router-outlet>
      </div>

  </div>

