    <div class="row" >
        <div class="anchoMenu" > <!-- style="width: 100%" -->
            <!-- Menu, disponible para este componente -->
            <app-menu></app-menu>
        </div>
    </div>

    <div class="row estilo" >
        <div class="col"  >
            <h2 class="ml-4" >Inicio</h2>
        </div>
    </div>

        <div class="row" >
          
          <div class="col-sm-2 fondoPerfil " >
                <app-perfil></app-perfil>
          </div>
      
          <div class="col" >
                <app-contenido></app-contenido>
          </div>

        </div>      
