<!-- Menu, disponible para este componente -->
<app-menu></app-menu>

<div class="container" >
  <hr/>

  <h1>Panel de Equipos II</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->

      <!-- Boton que se activa cuando se colapsa el menu al minimizar. -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-primary btn-sm mr-1" href="#">Listado de equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary btn-sm mr-1" href="#">Agregar equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm mr-1" href="#">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger btn-sm mr-1" href="#">Cerrar</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="row" >
    <div class="col-sm-8" >
        <p>
          Contenido del componente equipos ii...
        </p>
    </div>
  </div>

</div>

