<div class="row" >
  <div class="anchoMenu" > <!-- style="width: 100%" -->
    <!-- Menu, disponible para este componente -->
    <app-menu></app-menu>
  </div>
</div>

<div class="row estilo" >
  <div class="col"  >
    <h2 class="ml-4"  >Panel de Equipos II</h2>
  </div>
</div>

<div class="row ">

  <!-- Este es el menu de la seccion equipos ii -->
  <div class="col-2 estiloMenu"  >
    <ul class="nav flex-column ml-1"  >

      <li class="nav-item">
          <a routerLinkActive="active" class="nav-link btn-info   mb-1 mt-3" 
          [routerLink]="[ '/eqii/dashboard' ]">Inicio</a>
      </li>

      <li class="nav-item">
          <a routerLinkActive="active" class="nav-link btn-info   mb-1" 
          [routerLink]="[ '/eqii/listadoeq' ]">Listado</a>
      </li>
      <li class="nav-item">
          <a routerLinkActive="active" class="nav-link btn-info mb-1" 
          [routerLink]="[ '/eqii/#' ]" >Disponible</a>
      </li>
      <li class="nav-item">
          <a routerLinkActive="active" class="nav-link btn-info mb-1" 
          [routerLink]="[ '/eqii/#' ]" >Disponible</a>
      </li>

    </ul>
  </div>

  <div class="col" >
    <!-- Navegacion dentro del div de usuario -->
    <router-outlet></router-outlet>
  </div>

</div>