.textoHeader{
    color: rgb(250, 250, 250);
}

.estilo_div {
    
    height: 400px; /* Configura la altura del div */
    overflow-y: scroll; /* Agerga el scroll verticar cuando el texto supera el tamaño del div. */
    
}